.switch {
  position: relative;
  display: inline-block;
  width: 10.3vw;
  height: 2vh;
  margin-top: 1vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FE5783;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 1vh;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5vh;
  width: 3.1vw; /* 줄임 */
  left: 0.6vw;
  margin-top: 0.2vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  bottom: 0.3vh;
  border-radius: 1vh;
}

input:checked + .slider {
  background-color: #7BD679;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6vw); /* 조정 */
  -ms-transform: translateX(6vw); /* 조정 */
  transform: translateX(6vw); /* 조정 */
}

/* Rounded sliders */
.slider.round {
  border-radius: 1vh;
}

.slider.round:before {
  border-radius: 1vh;
} 
