@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
}
.title{
  padding: 5vw;
  font-weight: bold;
}

.wrapViewLaundry{
  display: flex;
  align-items: center;
  text-align: center;
}
.ViewLaundry1,
.ViewLaundry2,
.ViewLaundry3{
  background-color: #FFEF9E;
  width: 30vw;
  border-radius: 1vh;
  height: 23.3vh;
  margin-left: 2.5vw;
}

.one,
.two,
.three{
  border-radius: 50vw;
  background-color: #fff;
  width: 3vw;
  text-align: center;
  padding: 0.5vw;
  margin: 1.5vw; 
}

.oneContent,
.twoContent,
.threeContent{
  font-size: 14px;
}

.Laundring,
.emptyLaundry{
  margin-top: 0.5vh;
  margin-bottom: 2.3vh;
}

.ing{
  text-align: center;
  margin-top: 20vh;
}

.Tables{
  text-align: center;
  margin-top: 4vh;
}

.table{
  width: 45vh;
}

.resLaundry{
  color: black;
  background-color: #FFEF9E;
  border: none;
  width: 92%;
  border-radius: 10px;
  padding: 4%;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10%;
}

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b10,
.b11,
.b12{
  position: absolute;
  left: 29vw;
  height: 5vh;
  width: 15vw;
  border-radius: 1vh;
  border: none;
  background-color: #ffffff00;
}

.b1,
.b2,
.b3,
.b4,
.b7,
.b10{
  top: 48vh;
}


.b2,
.b5,
.b8,
.b11{
  margin-left: 24.3vw;
}

.b3,
.b6,
.b9,
.b12{
  margin-left: 49vw;
}

.b4,
.b5,
.b6{
  top: 54.5vh;
}

.b7,
.b8,
.b9{
  top: 60.8vh;
}

.b10,
.b11,
.b12{
  top:67vh;
} 

.reserved {
  font-weight: bold;
  font-size: 15px;
}