@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
  margin: 0;
}

.MainTitle,
.SchoolName,
.MainGreeting,
.TodayTeacher,
.cleaning,
.calendarTitle{
  color: #F5CA00;
  font-weight: bold;
  margin-left: 3%;
  font-family: "Noto Sans KR", sans-serif;
}

.MainTitle{
  font-size: 20px;
}

.MainTitle,
.SchoolName{
  margin-top: 10%;
}

.MainGreeting,
.calendarTitle{
  color: black;
}
.MainGreeting{
  font-size: 20px;
}
.SchoolName{
  font-size: 15px;
}

.wrapMainContent {
  display: flex;
}

.teacher,
.clean{
  position: relative;
  width: 162px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px; 
  margin-left: 3%;
  margin-top: 10%;
  background-color: #f1f0f0;
  border-top: 40px solid #F6EA85;
}

.TodayTeacher,
.cleaning{
  margin-left: 30%;
  margin-top: 7%;
}
.TodayTeacher,
.teacherImg,
.cleanImg,
.cleaning{
  color: black;
  font-size: 12px;
  position: absolute; 
  top: -40px; 
}

.teacherImg,
.cleanImg{
  margin-left: 15%;
  margin-top: 5%;
}

.TeacherA,
.cleaningroom{
  font-weight: bold;
  padding: 25px;
  padding-top: 20%;
}

.cleaningroom{
  margin-left: 10%;
}

.WrapCalendar{
  margin-top: 50%;
  margin-left: 3%;
  width: 90%;
}

.calendarTitle{
  font-size: 18px;
}