@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
  margin: 0;
}

.MainTitle,
.SchoolName,
.MainGreeting,
.TodayTeacher,
.cleaning,
.calendarTitle{
  color: #F5CA00;
  font-weight: bold;
  margin-left: 2vh;
  font-family: "Noto Sans KR", sans-serif;
  overflow: auto;
}

.MainTitle{
  font-size: 20px;
}

.MainTitle,
.SchoolName{
  margin-top: 3.5vh;
}

.MainGreeting,
.calendarTitle{
  color: black;
}
.MainGreeting{
  font-size: 20px;
}
.SchoolName{
  font-size: 15px;
}

.wrapMainContent {
  display: flex;
}

.teacher,
.clean{
  position: relative;
  width: 43.2vw;
  height: 11vh;
  border-radius: 1vh;
  margin-right: 2.5vw; 
  margin-left: 3.5vw;
  margin-top: 10%;
  background-color: #f1f0f0;
  border-top: 40px solid #F6EA85;
  text-align: center;
}

.TodayTeacher,
.cleaning{
  margin-left: 13vw;
  margin-top: 1.5vh;
}

.TodayTeacher,
.teacherImg,
.cleanImg,
.cleaning{
  color: black;
  font-size: 12px;
  position: absolute; 
  top: -5vh; 
}


.teacherImg,
.cleanImg{
  margin-left: -15vw;
  margin-top: 1.2vh;
}

.TeacherA,
.cleaningroom{
  font-weight: bold;
  margin-top: 3.5vh;
}


.WrapCalendar{
  margin-top: 23.5vh;
  margin-left: 3vw;
  width: 90vw;
}

.calendarTitle{
  font-size: 18px;
}