.WrapViewCalendar,
.schedule{
  margin-top: 1.5vh;
}

.schedule{
  border-left : 1px solid #000;
  height : 12vh;
}

.schedule1{
  margin-left: 3%;
}

.DatePicker_button__ob8dZ{
  display: none;
} 

.DatePicker_monthYearLabel__IRVSg{
  display: none;
}

.DatePicker_dateDayItem__sT2yQ{
  width: 11.3vw;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}


.showCalendarText{
  margin-left: 79vw;
  font-size: 13px;
}