@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


.score,
.badScoreTitle,
.goodScoreTitle{
  color: #000;
  font-weight: bold;
  margin-left: 3vw;
  font-family: "Noto Sans KR", sans-serif;
}

.personalScore{
  position: absolute;
  width: 92vw;
  height: 17.8vh;
  background-color: rgba(245, 202, 0, 0.31);
  margin-top: 23vh;
  margin-left: 4vw;
  border-radius: 1vh;
}

.score{
  font-size: 13px;
  padding: 2vh;
  padding-bottom: 0;
}

.WrapgoodScore,
.WrapbadScore{
  position: relative;
  background-color: #fff;
  width: 61vw;
  height: 3.6vh;
  margin-left: 7vw;
  margin-top: 1.8vh;
  border-radius: 1vh;
  border-left: 8.5vh solid #CAEFFF;
}

.WrapbadScore{
  border-left: 8.5vh solid #D5FAD9;
}
.goodScoreTitle,
.badScoreTitle{
  margin-left: -13vw; 
  font-size: 13px;
  padding: 0.4vh;
}

.goodScoreTitle{
  color: #1A89EF;
}

.badScoreTitle{
  color: #0CAB2F;
}

.goodScoreContent,
.badScoreContent,
.goodScore,
.badScore {
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  top: 1.3vh;
  font-size: 13px;
  transform: translateY(-1.5vw);
  margin-left: 3vw
}

.goodScore,
.badScore {
  margin-left: 51.5vw;
} 