
.DatePicker_button__ob8dZ{
  display: none;
} 

.DatePicker_monthYearLabel__IRVSg{
  display: none;
}

.DatePicker_dateDayItem__sT2yQ{
  width: 11.3vw;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;
}


.showCalendarText{
  margin-left: 79vw;
  font-size: 13px;
}


.wrapSchedule {
  display: flex;
  align-items: center;
  overflow: visible;
}

.round {
  margin-right: 2vh;
}


.hrLine {
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 0.1vh;
  background-color: #ccc; 
  margin-top: 1.8vh;
  height: 5vh;
  margin-left: 0.3vw;
}

.scheduleItem {
  position: relative; 
  display: flex;
  align-items: center;
  margin: 2vh;
  margin-bottom: 1vh;
}
