.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.reactCalendar {
  width: 95vw;
  border: none;
  margin-top: 11vh;
  border-radius: 0.5rem;
  box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.13);
  padding: 3% 5%;
  background-color: #fff;
}
.react-calendar__navigation__label__labelText{
  font-size: 15px;
  font-weight: bold;
}

/* 일 날짜 간격 */
  .reactCalendar__tile {
    padding: 5px 0px 18px;
    position: relative;
  }



.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus{
  background-color: rgb(255, 151, 151);
  border-radius: 80%;
}

.react-calendar__tile--active{
  border-radius: 50%;
  background-color: rgb(255, 151, 151);
  color: black;
}

.react-calendar__tile{
  height: 5vh;
}

.react-calendar__tile--now{
  border-radius: 50vh;
  background-color: #ffeda793;
}
.react-calendar__tile--active {
  background-color: rgb(255, 151, 151);
}

.ShowCalendarWrap{
  display: flex;
  text-align: center;
}

.showCalendarBell{
  height: 3vh;
}
.showCalendarTitle{
  position: absolute;
  left: 3vw;
  margin-top: 10%;
  color: #F5CA00;
  font-weight: bold;
  font-size: 20px;
}


.todayInfoContainer {
  position: absolute;
  bottom: -13.8vh; 
  width: 95vw;
}

.todayInfoBox {
  background-color: #fff;
  box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.13);
  border-radius: 1vh;
  padding: 3vh;
}
