.container{
  position: relative;
}

.wrapBtn{
  box-shadow: 3px 1px 5px rgba(219, 219, 219, 0.745);
  height: 6vh;
}
.backBtn{
  margin: 2vh;
}

.wrapContent{
  text-align: center;
  margin-top: 10vh;
  margin-left: 3.5vh;
}

.notice,
.normal{
  font-size: 15px;
  width: 14vw;
  padding: 0.1vh;
  font-weight: bold;
  border-radius: 5vh;
}
.notice {
  color: #FF5151; 
  background-color: #FFD6D6; 
}

.normal {
  color: #2D9AFF; 
  background-color: #CAEFFF; 
}

.title{
  position: absolute;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
  padding-left: 1vw;
  margin-top:0.5vh;
}

.contentContainer{
  display: flex;
  border: solid rgba(0, 0, 0, 0.24) 1px;
  padding: 3vh;
  margin-right: 6.5vw;
  margin-top: 9vh;
  border-radius: 1.5vh;
  height: 45vh;
}

.content{
  text-align: left;
  line-height: 3vh;
}

.navBtn{
  text-align: center;
  margin: 5vh;
  display: flex;
}

.prevBtn,
.nextBtn{
  border: none;
  background-color: #fff;
  font-size: 15px;
}


.next,
.prev{
  position: absolute;
  margin-top: 0.3vh;
}

.prevBtn{
  margin-left: 1.5vh;
}

.nextBtn{
  padding-right: 0.8vw;
}

.wrapPrevBtn{
  margin-right: 50vw;
}

.time{
  position: absolute;
  margin-left: 68vw;
  margin-top: 6vh;
  font-size: 13px;
  font-weight: 300;
}