@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header,
.table,
.tableContent{
  display: flex;
  align-items: center;
  
}

.title,
.Bell{
  margin-bottom: 37%;   
}
.title{
  font-family: "Inter", sans-serif;
  padding: 5%;
  font-size: 20px;
  color: #F5CA00;
  font-weight: bold;
}

.Bell{
  margin-left: 62%;
}

.wrapHr,
.headerHr{
  margin-left: 4%;
}

.headerHr{
  width: 92%;
}
.hr{
  width: 95%
}
.tableContent{
  margin-left: 2%;
}

.p1,
.p2,
.p3{
  margin-right: 25vw;
  margin-top: 3%;
  margin-bottom: 4%;
  font-size: 14px;
}
.p3{
  margin-right: 0;
}

.filter{
  margin-top: 15vh;
  margin-left: 80vw;
}

.select {
  border-radius: 1vh;
  width: 15vw;
  height: 3vh;
  z-index: 1000;
  margin-bottom: 1vh;
  text-align: center;
  border-color: #d9d9d9ad;
  background-color: none;
}

.select option {
  z-index: 1001; 
}

