.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImageContainer {
  position: relative;
  width: 25vw;
  height: 12vh;
  border-radius: 30%;
  overflow: hidden;
  background-color: #F5CA00;
  margin-top: 10vh;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uploadBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 4vw;
  height: 7.5vh;
}

.profileImg {
  width: 100%;
  height: 100%;
}

.editBtn {
  position: absolute;
  width: 4vh;
  height: 3.5vh;
  margin-left: 19vw;
  margin-top: 19vh;
  cursor: pointer;
}

.wrapContent {
  padding: 10vw;
}

.emailP {
  font-size: 13px;
  background-color: #dbdbdb79;
  padding: 3.2vw;
  border-radius: 1vh;
  width: 76 vw;
}

.email {
  margin-bottom: 2vw;
}

.nameInput,
.roomInput,
.infoInput {
  border-radius: 1vh;
  border-color: #8A8A8A;
  height: 2.5vh;
  width: 75vw;
  margin-top: 1vh;
  border-width: 1.5px;
  padding: 1vh;
}

.email,
.name,
.roomNum,
.perInfo {
  font-size: 13px;
  color: #8A8A8A;
  margin-top: 3vh;
}

.nameInput:focus,
.roomInput:focus,
.infoInput:focus {
  outline: none;
  border-style: solid;
  border-color: #FFC61B;
}

.wrapBtn {
  text-align: center;
}

.doneBtn {
  width: 80vw;
  padding: 1.5vh;
  border-radius: 1vh;
  border: none;
  background-color: #F5CA00;
  color: #fff;
  font-weight: bold;
  margin-top: 2vh;
}